.footer{
    background-color: #222222;
    color:#f5f5f5;
}

.cardH1{
    padding-left: 2rem;
}

.footerP{
    padding-left: 2rem;
    padding-right: 2rem;
}

.namesYo{
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
}

.cardH1:after{
    display: block;
    content: '';
    width: 37vw;
    height: 4px;
    background: #DEBF79;
    position: relative;
    bottom: 0;
    left: 0;
}